body {
  padding: 50px;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  margin-top: -.75em;
  padding: 0;
  color: #777;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#map {
  height: 80vh;
}

.cost_label {
  font-weight: bold;
}

.cost_value {
  text-align: left;
}
